@model IEnumerable<iHungry.Models.Jelo>

@{
    ViewData["Title"] = "Index";
}
<img src="~/beef.jpg" height="200" width="350" /><img src="~/ham.jpg" height="200" width="350" /><img src="~/pizza.jpg" height="200" width="350" />
<h2>Meni za @DateTime.Now.ToShortDateString()</h2>
<form>
<p>Pronađi jelo:</p><input name="naziv" type="search"/>
<p><input type="submit" value="Traži" /></p>
</form>
<p>
    @{if (ViewBag.Admin)
        {<a asp-action="Create">Dodaj</a>}
        }
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cijena)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena) kn
            </td>
            <td>@{ if (ViewBag.Admin)
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> <span>|</span>
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a> <span>|</span>} } 
                <a asp-area="" asp-controller="Košarica" asp-action="Dodajukošaricu" asp-route-id="@item.Id">Dodaj u košaricu</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@{if (!ViewBag.Admin)
    {
<form method="post">
            <table>
    <tr><td><strong>Prijava za restorane:</strong></td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>Korisničko ime: </td>
                    <td><input type="text" name="kor" required/></td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>Lozinka: </td>
                    <td><input type="password" name="pass" required/></td>
                </tr>
            </table><br />
            <input type="submit" id="btnSubmit" value="Prijavi se" />
    @if (ViewBag.Kriviunos)
    {
        <strong>&nbsp;&nbsp;Krivi unos.</strong>

    }

        
</form>
    }
    else
    {

          <label>Prijavljeni ste kao restoran.</label><br />

          <a asp-action="Index">Odjavi se</a>
    }
    }
