@model iHungry.Models.Košarica

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Košarica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jelo.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jelo.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jelo.Cijena) kn
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na košaricu</a>
</div>
